body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #d23df0; /* Green */
      color: #2816ca;
  }
  .bg-2 { 
      background-color: #000000; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color:#000000;
  }
  .bg-4 { 
      background-color: #000000; /* Black Gray */
      color: #fff;
  }
  .bg-5 { 
    background-color: rgb(230, 245, 21); /* Black Gray */
    color: #fff;
      
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #000000 ;
  }

    /* Style the button and place it in the middle of the container/image */
    .container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(92, 1, 1);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }

    .container .btn:hover {
    background-color: black;
    }
  
  @media screen and (max-device-width:900px) {
      .label{
          display: block;
          cursor: pointer;
      }
      .menu{
          text-align: center;
          width: 100%;
          display: none;
      }
      .menu a{
          display: block;
          border-bottom: 1px solid #EAEAEB;
          margin: 0;
      }
      #toggle :checked + .menu{
          display: block;
      }
  }  